<div class="toDoSection">
    <div class="topBar">
        <h3>Platform Launch</h3>
        <div class="addTask"><button class="addTaskButton" (click)="openAddTaskSection()">+ Add New Task</button></div>
    </div>
    <div class="toDoContainer">
        <div class="toDoColumns">
            <div class="toDoColumn">
                <div class="columnHeader"><span class="coloredPoint"></span>todo (4)</div>
                <div class="columnBoxs">
                    <div class="columnBox" (click)="openTaskInfoSection()">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg dfg dfhfgd hfdg hfdg hdfg dfg hdfg hdfg hdfg fgh </h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                </div>
            </div>
            <div class="toDoColumn">
                <div class="columnHeader"><span class="coloredPoint"></span>todo (4)</div>
                <div class="columnBoxs">
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg dfg dfhfgd hfdg hfdg hdfg dfg hdfg hdfg hdfg fgh </h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                </div>
            </div>
            <div class="toDoColumn">
                <div class="columnHeader"><span class="coloredPoint"></span>todo (4)</div>
                <div class="columnBoxs">
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>

                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg dfg dfhfgd hfdg hfdg hdfg dfg hdfg hdfg hdfg fgh </h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                    <div class="columnBox">
                        <h5>build kdfsjhgdfkhg dfg dsfg</h5>
                        <span>fdshg dfgsh </span>
                    </div>
                </div>
            </div>
            <div class="toDoColumn">
                <div class="columnHeader">  
                    <div class="statusColumns" *ngIf="statusColumnsInput">
                    <input type="text"  placeholder="Enter Status Columns" id="subTask" ngModel
                        #statusColumns="ngModel" required name="statusColumns" minlength="3" 
                         />
               <i  class="fa-solid fa-check" (click)="addStatusColumns(statusColumns.value)"></i>
                </div></div>
                <div class="columnBoxs"  *ngIf="!statusColumnsInput" style="min-height: calc(100vh - 150px);border-radius: 10px;">
               <button class="addColumnButton" (click)="statusColumnsInput = !statusColumnsInput">+ New Column</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------task Section------------------------------->
<div class="taskSectionPopup" *ngIf="addTaskSection">
    <div class="taskSectionExit" (click)="openAddTaskSection()"></div>
    <div class="taskSection">
        <div class="taskSectionTitle">
            <h1>Add New Task</h1><i class="fa-solid fa-xmark" (click)="openAddTaskSection()"></i>
        </div>
        <form #taskForm="ngForm" class="form">
            <div class="form-field">
                <label for="title">Title</label>
                <input type="text" [(ngModel)]="task.title" placeholder="Enter title" id="title" ngModel
                #title="ngModel" required name="title" minlength="3" maxlength="25"
                [ngStyle]="{'border-color': (title?.touched && title?.invalid) ? 'var(--color)' : '' }" />
            </div>
            <div class="form-field">
                <label for="description">Description</label>
                <textarea  [(ngModel)]="task.description" placeholder="Enter description" id="description" ngModel
                #description="ngModel" required name="description" minlength="3" maxlength="250"
                [ngStyle]="{'border-color': (description?.touched && description?.invalid) ? 'var(--color)' : '' }" ></textarea>
            </div>
            <div class="form-field">
                <label for="subTasks">Subtask</label>
                <div class="subTask">
                    <div *ngFor="let item of this.task.subtasks" class="subTaskForm"> <input  type="text" readonly style="cursor: context-menu" placeholder="{{item}}"><i
                            class="fa-solid fa-xmark" (click)="deleteSubtask(item)"></i></div>
                    <button class="addSubtaskButton" (click)="openAddSubtaskSection()"
                        *ngIf="addSubtaskSection == false">+ Add New Subtask</button>
                    <div class="subTaskForm" *ngIf="addSubtaskSection == true">
                        <input type="text"  placeholder="Enter subTask" id="subTask" ngModel
                            #subTask="ngModel" required name="subTask" minlength="3" 
                            [ngStyle]="{'border-color': (subTask?.touched && subTask?.invalid) ? 'var(--color)' : '' }" />
                   <i  class="fa-solid fa-check" (click)="addSubtask(subTask.value)"></i>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <label for="status">Status</label>
                <select [(ngModel)]="this.task.status"  name="status" id="status"> 
                    <option *ngFor="let status of taskStatusOptions" [value]="status">{{ status }}</option>
                  </select>
            </div>
            <button type="submit" class="addTaskButton" (click)="addTask(taskForm)">Add Task</button>
        </form>
      

    </div>
</div>
<!------------------------------------------------------>
<div class="taskSectionPopup" *ngIf="taskInfoSection">
    <div class="taskSectionExit" (click)="openTaskInfoSection()"></div>
    <div class="taskSection">
        <div class="taskInfoSectionTitle">
            <h1>Add New Taidfsdkhjf g ;hsd ;fghfdsk</h1><i class="fa-regular fa-pen-to-square" (click)="openTaskInfoSection()"></i>
        </div>
        <div class="taskInfo form">
            <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <div class="form-field ">
                <label >Subtasks</label>
            <ul>
                <li><input type="checkbox" class="checkbox"> <h5>dsfgkjdfhsngkjdhfg</h5></li>
                <li><input type="checkbox" class="checkbox"> <h5>dsfgkjdfhsngkjdhfg</h5></li>
                <li><input type="checkbox" class="checkbox"> <h5>dsfgkjdfhsngkjdhfg</h5></li>
             </ul>
            </div>
            <div class="form-field ">
                <label for="status">Status</label>
                <select id="status" disabled> 
                    <option >todo</option>
                  </select>
            </div>
        </div>
    </div>
</div>
